html, body, #wrap{
    margin:0;
    padding:0;
}

body{
    width:960px;
    height:640px;
    -webkit-transform-origin:left top;
}

#wrap{
    background:url(../images/pic.png) 0 -1400px no-repeat;
}

#loading{
    width:100%;
    height:50px;
    padding-top:30%;
    font-size:60px;
    color:#000;
    font-family:sans-serif;
    text-align:center;
    font-weight:bold;
}

@media screen and (orientation:landscape) and (min-width:481px) and (max-width:640px),(width:480px){
    html{
        overflow:hidden;
        width: 480px;
        height: 320px;
}
}

@media screen and (orientation:landscape) and (min-width:960px){
    html{
        width: 960px;
        height: 640px;
}
}
