html, body, #wrap{
    margin:0;
    padding:0;
}

#wrap{
    width:960px;
    height:640px;
    background:url(../images/pic.png) 0 -1400px no-repeat;
}

#loading{
    width:100%;
    height:50px;
    padding-top:30%;
    font-size:60px;
    color:#000;
    font-family:sans-serif;
    text-align:center;
    font-weight:bold;
}

@media screen and (orientation:landscape) and (min-width:481px) and (max-width:640px),(width:480px){
    html{
        overflow:hidden;
        width: 480px;
        height: 320px;
}

/*这部分是要删去，然后js动态修改的，你只用把每个html的改掉就好了，模仿上面那个写法*/
body{
    -webkit-transform-origin:left top;
    -webkit-transform: scale(0.48);
}
}

@media screen and (orientation:landscape) and (min-width:960px){
    html{
        width: 960px;
        height: 640px;
}
}
