html{
    overflow:hidden;
}

html, body, #wrap{
    margin:0;
    padding:0;
}

html{
    overflow:hidden;
}

body{
    width:960px;
    height:640px;
    -webkit-transform-origin:left top;
}

#wrap{
    background:url(../images/pic.png) 0 -1400px no-repeat;
}

#loading{
    width:100%;
    height:50px;
    padding-top:30%;
    font-size:60px;
    color:#000;
    font-family:sans-serif;
    text-align:center;
    font-weight:bold;
}

@media screen and (orientation:landscape) and (max-width:480px){
    html{
        width: 320px;
        height: 240px;
}
}

@media screen and (orientation:landscape) and (min-width:480px) and (max-width:640px),(width:480px){
    html{
        width: 480px;
        height: 320px; 
}
}

@media screen and (orientation:landscape) and (min-width:640px) and (max-width:854px),(width:640px){
    html{
        width: 640px;
        height: 480px;
}
}

@media screen and (orientation:landscape) and (min-width:854px) and (max-width:960px),(width:854px){
    html{
        width: 800px;
        height: 480px;
}
}

@media screen and (orientation:landscape) and (min-width:960px),(width:960px){
    html{
        width: 960px;
        height: 640px;
}
}
